<!DOCTYPE html>
<html lang="en" style="font-size: 17px;">
<head>
    <meta charset="UTF-8">
    <title>پارسرچ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/_css/styles.css">
</head>
<body>
<img id="fullLogo" src="/static/_images/fullLogo.png" alt="ParsSearch" height="20%" width="10%" >

<form method="POST" action="" dir="rtl">
    <input class="input" type="text" name="search bar" align="middle" dir="rtl">
    <button type="submit" class='button button1' name='action' value='search'>جستجو</button>
    <button type="submit" class='button button2' name='action' value='feelingLucky'>بخت باهامه!</button>
</form>
</body>
